// Colors
$theme-color: #16c9d5;

// Breakpoints
$mobile-breakpoint: 576px;
$mobile-container: 540px;

$tablet-breakpoint: 640px;
$tablet-container: 540px;

$desktop-breakpoint: 1440px;
$desktop-container: 1170px;
